openapi: 3.0.3
info:
  title: Provet Cloud REST Appointments Reference Data API
  description: 'The Provet Cloud REST API gives approved integration partners programmatic access to the data in a Provet Cloud veterinary practice management (PIMS) installation built by Nordhealth. The API is browsable, returns JSON, and is versioned at 0.1. The base URL is installation-specific: https://provetcloud.com/<provet_id>/api/0.1/ (or a regional domain such as us.provetcloud.com or enterprise.provetcloud.com). Requests are authorized with OAuth 2.0 - Client Credentials for backend services, or Authorization Code with PKCE for user-facing apps - using the token endpoint https://provetcloud.com/<provet_id>/oauth2/token/ and the "restapi" scope. A legacy "Authorization: Token <key>" header exists but is deprecated. Integrations must be registered and approved by Provet''s support team per installation, so exact request/response schemas are seen against a live instance; the paths below are grounded in the public documentation, and request/response bodies are modeled where the public how-to pages do not print a full schema.'
  version: '0.1'
  contact:
    name: Provet Cloud (Nordhealth)
    url: https://developers.provetcloud.com/restapi/
servers:
- url: https://provetcloud.com/{provet_id}/api/0.1
  description: Provet Cloud installation (EU / default region)
  variables:
    provet_id:
      default: '0'
      description: Your installation's unique Provet Cloud ID.
- url: https://us.provetcloud.com/{provet_id}/api/0.1
  description: Provet Cloud installation (US region)
  variables:
    provet_id:
      default: '0'
      description: Your installation's unique Provet Cloud ID.
security:
- oauth2: []
tags:
- name: Reference Data
  description: Items, departments, users, and code lists.
paths:
  /item/:
    get:
      operationId: listItems
      tags:
      - Reference Data
      summary: List items
      description: Retrieve the master catalog for medicines, procedures, supplies, and food.
      responses:
        '200':
          description: A list of catalog items.
  /department/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getDepartment
      tags:
      - Reference Data
      summary: Get a department
      responses:
        '200':
          description: The department.
  /reason/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getReason
      tags:
      - Reference Data
      summary: Get an appointment reason
      responses:
        '200':
          description: The appointment reason.
  /user/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getUser
      tags:
      - Reference Data
      summary: Get a user
      responses:
        '200':
          description: The user.
  /custom_fields/:
    get:
      operationId: listCustomFields
      tags:
      - Reference Data
      summary: List custom field definitions
      description: List all custom field definitions for the installation.
      responses:
        '200':
          description: A list of custom field definitions.
  /codelist/species/:
    get:
      operationId: listSpeciesCodes
      tags:
      - Reference Data
      summary: List species codes
      responses:
        '200':
          description: Valid species codes.
  /codelist/breeds/:
    get:
      operationId: listBreedCodes
      tags:
      - Reference Data
      summary: List breed codes
      responses:
        '200':
          description: Valid breed codes.
  /codelist/diagnoses/:
    get:
      operationId: listDiagnosisCodes
      tags:
      - Reference Data
      summary: List diagnosis codes
      responses:
        '200':
          description: Available diagnostic codes.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Client Credentials for backend services; Authorization Code with PKCE for user-facing apps. Token endpoint is https://provetcloud.com/<provet_id>/oauth2/token/ with scope "restapi".
      flows:
        clientCredentials:
          tokenUrl: https://provetcloud.com/0/oauth2/token/
          scopes:
            restapi: Access the Provet Cloud REST API.
        authorizationCode:
          authorizationUrl: https://provetcloud.com/0/oauth2/authorize/
          tokenUrl: https://provetcloud.com/0/oauth2/token/
          scopes:
            restapi: Access the Provet Cloud REST API.
            openid: Obtain additional user details.
